@import 'variables.scss';

// cards//
.card {
  width: auto;
  height: 251px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);


  img {
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    overflow: hidden;


  }

  .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .description {
      padding-left: 13px;
      padding-bottom: 12px;
      gap: 5px
    }

    @include likeButtonStyles;


  }


  .badge {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #99E2D0;
    color: #008766;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
}



// /small cards Menus/ 

.menus_cards {
  overflow: hidden;
  display: flex;
  background: var(--White, #FFF);
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);

  .small_cards {
    padding: 15px;
    width: 100%;
  }

  .menus_description {
    display: flex;
    align-items: center;
    gap: 5px;


    p {
      flex: 2;
    }

    h5 {
      display: flex;
    }

  }
}

.check {
  width: 0px;
  background-color: $color-checkmark;
  transition: all 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 10px;
}



//buttons//



.btn {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 1px;
  color: $bg_white;
  width: 218px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 57px;
  display: flex;
  align-items: center;
  justify-content: center;


  .fa-solid {
    width: 15px;
    height: 20px;
  }
  @media (min-width:720px){
    margin-bottom: 30px;
    margin-top: 15px;
  }
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
}

.btn_gradient {
  @include gradient-background(#9356DC, #FF79DA, to top);
}

.btn_setup {
  width: 323px;
  height: 72px;
  border: 1px;
  border-radius: 20px;
  background-color: $bg-grey2-color;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.menu_content button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.order_button {
  display: flex;
  align-items: center;
  justify-content: center;
}