@import 'variables.scss';

// functioning section//

.reservation_section {
    background-color: $bg_white;
    max-width: 1440px;

    h2 {
        padding: 20px 80px 0px 20px;
        height: 31px;

        @media (min-width:1440px) {
            padding: 20px 80px 0px 180px;
        }
    }
}

.summary_button {
    position: absolute;

    .txt {
        padding: 30px 38px 28px 0px;
    }
}

.icon {
    color: $gradient-start-color;
}

.buttons {
    margin: 0px 20px 0px 33px;
    position: relative;

    button {
        position: relative;
        display: flex;
        align-items: center;

        padding-left: 35px;
        margin: 30px 0px 0px 0px;

        i {
            margin-right: 27px;
        }
    }


    @media (min-width:720px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 25px 160px 50px 151px;
    }


    @media (min-width:1439px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 134px;
        padding: 25px 160px 50px 151px;

    }
}

.btnA {
    padding-bottom: 68px;
}

.number {
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.info_Section {

    h2 {
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 68px;
        width: auto;
        padding: 39px 42px 100px 42px;

    }

    p {
        padding: 0 15px 0 15px;
        margin-bottom: 15px;
    }

    @media (min-width: 720px){
        h2{
            padding:30px 42px 0px 42px ;
        }
    }
    @media (min-width: 1440px) {
        padding: 30px 0 30px 0;

        .btn {
            margin-bottom: unset;
        }

        h2{
            padding:0px 42px 0px 42px ;
        }

    }

}



// homepage restaurants cards//

.restaurants_cards {
    h2 {
        padding: 40px 80px 0px 20px;
    }

    .cards {
        display: grid;
        // flex-direction: column;
        margin: 20px 20px 0px 20px;
        gap: 18px;
        padding-bottom: 66px;

        a {
            text-decoration: none;
            color: black;
        }

        @media (min-width:770px) {
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
    }
}