@import 'variables.scss';
@import 'animations.scss';
@import 'cards_&_buttons.scss';
@import 'header_&_footer.scss';
@import 'homepage.scss';
@import 'restaurants_pages.scss';











// body settings//

@import 'variables.scss';

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    max-width: 1400px;
    margin: 0 auto;
}

.body_restaurants {
    background-color: #FFFFFF;
}


* {
    font-family: 'Roboto';
    margin: unset;
}

.container_setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg_white {
    background-color: $bg-white;
}

.links_reset {
    text-decoration: none;
}

.bg_lightgrey {
    background-color: $bg-grey2-color;
}

h1 {
    font-family: $logo-font-shrikhand;
}

.inner {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}