@import 'variables.scss';

footer{
    background-color: $footer-color;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;


    a{
        text-decoration: none;
        color: $bg_white;
    }
    h4{
        font-family: $logo-font-shrikhand;
        color: $bg-white;

    }

}