@import 'variables.scss';


.info_Section {
    
    h2 {
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 68px ;
        width: 275px;
        
    }

    p{
        height: 46px ;
        width: 315px;
        margin-bottom: 15px;
    }


}


