@import 'variables.scss';


.info_Section {

    h2 {
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        height: 68px;
        width: auto;
        padding: 39px 42px 0px 42px;

    }

    p {
        height: 46px;
        width: autopx;
        margin-bottom: 15px;
    }

    @media (min-width: 1440px) {
        padding: 30px 0 30px 0;

        .btn {
            margin-bottom: unset;
        }

    }

}