@import 'variables.scss';



.image-top{
    width: 100%;
    height: 275px ; 
    object-fit: cover
}


.header_menus{
    display: flex;
    padding-left: 17px;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 40px;
    
    img{
        width: 21px;
        height: 21px;
        padding-left: 20px;
    }
}


.dishes{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px 20px 0px 20px;
    h3{
        display: flex;
        align-items: flex-start;
        border-bottom:  3px solid #99E2D0;
        padding-bottom: 5px;
        width: 40px;
        overflow:visible;
    }
}


.menu_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    a{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    button{
        margin: unset;
    }

    @media (min-width:1440px){
        width: 634px;
    }
}


.menus_section{
    background-color: $bg-grey1-color;
    border-radius: 30px;
    transform: translateY(-65px);


    @media (min-width:1440px){
        width: 1055px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-41px) translateX(192.5px);
    }
}





